* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  border: none;
}

window#waybar {
  background: rgba(18, 18, 26, 0.55);
  border: 1px solid rgba(200, 90, 255, 0.5);
  border-radius: 18px;
  color: #eaeaea;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 4px 12px;
}

#workspaces {
  background: transparent;
  padding: 0;
  margin: 0;
}

/* WORKSPACES */
#workspaces button {
  padding: 2px 8px;
  margin: 0 3px;
  border-radius: 10px;
  background: rgba(40,40,60,0.6);
  color: #bbbbbb;
  transition: all 0.2s ease;
}


#workspaces button.active {
  background: rgba(122,162,247,0.9);
  color: #0b0b12;
  box-shadow: 0 0 8px rgba(122,162,247,0.9);
}

/* CLOCK — делаем ярким */
#clock {
  font-size: 15px;
  font-weight: bold;
  color: #9ece6a;
  text-shadow: 0 0 6px rgba(158,206,106,0.8);
}

/* MODULE COLORS */
#cpu { color: #f7768e; }
#memory { color: #e0af68; }
#backlight { color: #7dcfff; }
#pulseaudio { color: #bb9af7; }
#network { color: #73daca; }
#bluetooth { color: #73daca; }
#battery { color: #9ece6a; }

#custom-logout {
  color: #f7768e;
  padding-left: 8px;
  text-shadow: 0 0 6px rgba(247,118,142,0.9);
}
